@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Source+Sans+Pro:wght@900&display=swap");

* {
  margin: 0;
  text-decoration: none;
}

html,
body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #000000;
  margin-bottom: 80px;
  background: url('../assets/png/background.png');
  background-size: cover;
}

.page-wrapper {
  display: grid;
  place-items: center;
  text-align: center;
}

h1 {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 5em;
  letter-spacing: -0.04em;
}

p {
  color: rgb(64, 204, 167);
  text-shadow: 1px 1px 1px rgba(71, 71, 71, 0.857);
  font-family: "Comfortaa", cursive;
  font-size: 1.5em;
  margin: 15px 0;
}

.divider {
  color: white;
}

.icon {
  color: white;
  padding: 15px;
  border-radius: 50%;
}

.icon:hover {
  cursor: pointer;
  background-color: rgb(254, 163, 59);
  /* color: black; */
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center horizontally */
  justify-content: center;
  /* Center vertically */
  height: 100vh;
  /* Ensure the container takes up the full viewport height */
}


.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Center the icons horizontally within the container */
  margin-top: 20px;
  /* Adjust the margin to separate content and icons */
}



/* #footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  width: 100%;
  background: url('../assets/png/landingpage.png');
  background-attachment: fixed;
} */
